$background: --background;
$backspace: --backspace;
$border: --border;
$blur: --blur;
$textColor1: --textColor1;
$textColor2: --textColor2;
$textColor3: --textColor3;
$error: --error;

$backgroundHover: --backgroundHover;
$backspaceHover: --backspaceHover;
$textColor3Hover: --textColor3Hover;

$accent1: --accent1;
$accent2: --accent2;

$vk-background: --vk-background;
$vk-color: --vk-color;
