@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var($textColor3);

  &:visited {
    color: var($textColor3);
  }
}

.snowflake {
  pointer-events: none;
}

.background-shadow {
  box-shadow: 0 0 2px -1px var($textColor3);
}
