@import "colors";
@import "themes";

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}

:root {
  color-scheme: light dark;
}

:root.light {
  color-scheme: light;
  @include spread-map($theme-map-light);
}
:root.dark {
  color-scheme: dark;
  @include spread-map($theme-map-dark);
}
